.col col-md-9 li{
    background-color: white;
    position: relative;
    float: left;
    list-style: none;
    margin: 0;
    padding:0;
}
.col col-md-9 li a:hover{
    border-radius:4px ;
    background-color: #F5F5F5;
}
.col col-md-9 ul ul{
    top: 30px;
    left: 15px;
    visibility: hidden;
}
.col col-md-9 ul li:hover ul{
    visibility: visible;
    margin-top:50px;
}
.col col-md-9 ul ul li a{
    width: 200px;
    text-align: left;
    padding-left: 10px;
}

.col col-md-9 li a{
    width:150px;
    height: 50px;
    display: block;
    text-decoration:none;
    text-align: center;
    line-height: 30px;
    color: black;
    padding-top:25px;
    padding-bottom: 5px;
}